<div class="jumbotron">
    <h1>FITNESS APP</h1>
    <p class="lead">This is a free non-commercial fitness and diet app designed to best suit your needs.</p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            In this site, you can record your physical stats and current number of calories. The app will
            then find and gather recipes based on the information you enter in the fitness API. Once the
            recipes have been found, the system will organize a meal plan for you. The meal plan will cover
            breakfast, lunch, and dinner.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Information types</h2>
        <p>
            The information to enter for the fitness API is your body composition, stats, and number of
            calories. All information entered must be accurate.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>
            This app is free of use. No license or subscription is required. If you feel that there is a
            mistake in the meal plan provided to you, feel free to contact the app's user support. Someone
            will assist you as soon as possible.
        </p>
    </div>
</div>
